<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=2">
    <title>CAN!</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "view/css/view.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "view/css/contenteditable_placeholder.css" %}">
    <script>
        songId = {{ pk }};
    </script>
    <script type="text/javascript" src="{% static "js/jquery-3.3.1.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "view/js/song_view.js" %}"></script>

</head>
<body>
    {% include "view/navbar.html" %}
    <h1 id="song-label" placeholder="Unnamed Song">{{ songLabel }}</h1>
    <div class="container">
        {% if formattedPattern %}
            <pre>{{ formattedPattern|safe }}</pre>
        {% else %}
            <div>Empty Pattern</div>
        {% endif %}
    </div>
</body>