<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CAN!</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "view/css/chordeditarea.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "view/css/view.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "view/css/spinner.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "view/css/snackbar.css" %}">
    <script>
        songId = {{ pk }};
        justCreated = {{ justCreated }};
    </script>
    <script type="text/javascript" src="{% static "js/jquery-3.3.1.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "view/js/snackbar.js" %}"></script>
    <script type="text/javascript" src="{% static "view/js/song_edit.js" %}"></script>

</head>
<body>
    {% include "view/navbar.html" %}
    <div class="container-fluid">
        <div id="edit-mode" hidden>
            <input type='text' id="songLabel" placeholder="Enter Song Label" value="{{ songLabel }}"></input>
            <div class="container">
                <textarea type='text' id='patternEdit' placeholder='Enter Chords'>{{ pattern }}</textarea>
            </div>
        </div>
        <div id="search-pattern-mode" hidden>
            <div id='no-search-results' hidden></div>
            <div id='spinner-search-results' hidden class='loader'></div>
            <table id='search-results' class='table table-dark' hidden>
                <thead style='display:none'>
                    <th scope='col'>Song</th>
                    <th scope='col'>Artist</th>
                    <th scope='col'>rating</th>
                </thead>
                <tbody id='search-results-body'>
                </tbody>
            </table>
        </div>
        <div id="preview-pattern-mode" hidden>
            <pre id='preview-pattern-content'></pre>
        </div>
    </div>
    <div id='snackbar'></div>
</body>