#patternEdit {
	background: transparent;
	color: white;
	font-family: Courier;
	font-size: 12pt;
	width: 100%;
	overflow-y: hidden;
	margin: 0px;
	-webkit-box-shadow: none; 
	box-shadow: none; 
	border-color: transparent;
	resize: none;
}

#songLabel {
	background: transparent;
	color: white;
	font-size: 24pt;
	width: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	padding: 20px;
	-webkit-box-shadow: none; 
	box-shadow: none; 
	border-color: transparent;
}

.chord {
	background: transparent;
	font-weight: bold;
	color: red;
}

.headline {
	background: blue;
	font-weight: bold;
	border-color: red;
  display: block;
	color: yellow;
	white-space:nowrap;
}

.chordline {
  display: block;
  background: rgba(255, 255, 0, 0.1);
  white-space: nowrap;
  white-space: pre;
}

.nav-item {
	cursor: pointer;
}

.song-item {
	cursor: pointer;
}

.title-text {
    color: red;
}